@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style-type: none;
  /* outline: 1px solid white; */
}

html {
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  border: none;
}


.section-title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #9E0022;
  font-size: 2.5rem;
}

/* NAVBAR */

nav {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background-color: black;
  color: white;
  min-height: 3rem;
  font-size: 130%;
}

.nav-logo {
  color:#FFF0E1;  
}

.owner {
  font-weight: 900;
  font-size: 1.5rem;
  color: #ffafaf;
}

.store  {
  font-weight: 300;
  font-size: 1.4rem;
}

.icon {
  color:#FFF0E1;

  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  text-align: right;
}


.nav-link {
  opacity: 0;
  position: absolute;
  min-width: 100%;
  top: -100%;
  left:0;
  transition: all .37s linear;
}

.nav-link.active {
  display: block;
  position: absolute;
  top: 4.7rem;
  background-color: black;
  opacity: .8;
}

.nav-link.active li {
  text-transform: uppercase;
}

.nav-link li {
  padding: .5rem 1rem;
  cursor: pointer;
}
.nav-link li:hover {
  background-color: rgb(74, 73, 73)
}

.nav-link a {
  color: #fbdddd;
} 

.collection-list {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.collection-list a{
  display: block;
  position: relative;
  z-index: 1;
  padding: .5rem;
  color: white;
  text-align: left;
}

.collection-list a:hover {
  background-color: rgb(74, 73, 73)
}

.collection:hover .collection-list{
  display: block;
}

/* NAVBAR END */


/* HERO SECTION */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.223),rgba(0, 0, 0, 0.32)) ,url("https://cdn.pixabay.com/photo/2022/07/06/12/58/woman-7305088_960_720.jpg");
  min-width: 100%;
  padding: 1rem;
  min-height: calc(100vh - 5rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  gap: 1rem;
}

.hero-text h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(4rem, 10vw, 6.5rem); 
}

.hero-text h3 {
  text-transform: lowercase;
  font-weight: 200;
}

.qoute {
  display: flex;
  padding: 0 2rem;
  font-size: clamp(1.5rem, 2vw, 2rem); 
  flex-direction: column;
}

.shop {
  background-color: #9E0022;
  color: white;
  font-size: clamp(.9rem, 1vw, 1.2rem); 
  font-weight: 200;
  padding: .6rem 2rem;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .3s linear;
}

.shop:hover {
  transform: scale(1.2);
}

/* HERO SECTION END */


/* BEST-SELLER SECTION START */
.best-seller {
  background-color: #f6d4d4; 
}
.best-gallery {
  padding: 2rem;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.column img {
  max-width: 100%;
  max-height: 30%;
  
}



/*  MEDIA QUERIES */
@media screen and (min-width: 40em) {
  nav {
    display: flex;
    align-items: center;
  }
  .nav-logo {
    display: flex;
    gap: .5rem;
    align-items: center;
  }
  .nav-link, .nav-link.active{
    opacity: 1;
    position: static;
    z-index: 0;
    display: flex;
    justify-content: center;
  }
  .icon {
    display: none;
  }

  .best-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .column {
    flex-direction: row;
    gap: .3rem;
    align-items: center;
    justify-content: center;
  }
  .column img {
    width: 30%;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    padding: .2rem;
    border-radius: 10px;
  }
}